@model homework20170805.Models.AccountBook
@{
    ViewBag.Title = "記帳本";
    Layout = "~/Views/Shared/_BookKeeping.cshtml";
}
@section styles {
    <style>
        .Income {
            color: blue;
        }
        .Expend {
            color: red;
        }
        .NumRight{ text-align: right;}
    </style>
}

@using (Html.BeginForm("Create","home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="well">
        <div class="form-horizontal">

            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Categoryyy, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(d => d.Categoryyy, new {@class = "form-control"})
                    @Html.ValidationMessageFor(model => model.Categoryyy)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Amounttt, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Amounttt, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Amounttt)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dateee, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Dateee, new {htmlAttributes = new {@class = "form-control", placeholder = "yyyy/mm/dd" } })
                    @Html.ValidationMessageFor(model => model.Dateee)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Remarkkk, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Remarkkk,3,40, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Remarkkk)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-8 col-sm-4">
                    <input type="submit" value="送出" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-12">
        @Html.Action("ShowBookKeeping")
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
