@model IEnumerable<homework20170805.Models.AccountViewModel>
@using homework20170805.Models

@{
    Layout = null;
}

    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>

        </tr>
        @{ 
            var cnt = 1;
            var ttl = 0;
            }
        @foreach (var item in Model)
        {
           ttl = ttl + item.Amount*(item.Type==AccountType.支出 ? -1 : 1);
           
        <tr style ="color:@(item.Type==AccountType.支出 ? "Red" : "Black") ">
                <td>   
                @(cnt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:right">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

            </tr>
        }
        <tr><td>小計</td><td colspan="3" style="text-align:right;color:@(ttl<0 ? "Red" : "Black")">@(ttl.ToString("N0"))</td></tr>

    </table>


