@model IPagedList<homework20170805.Models.AccountViewModel>
@using homework20170805.Models
@using PagedList
@using PagedList.Mvc

@{
    Layout = null;
}

    <table class="table table-bordered table-hover">
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Amount)
            </th>

        </tr>
        @{ 
            var cnt = 1;
            var ttl = 0;
            string MyClass = "";
            }
        @foreach (var item in Model)
        {
            ttl = ttl + item.Amount*(item.Type==AccountType.支出 ? -1 : 1);
            MyClass = item.Type == AccountType.支出 ? "Expend" : "Income";
 
            <tr class ="@MyClass" >
                <td>   
                    @(cnt++)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="NumRight">
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

            </tr>
            MyClass = ttl<0 ? "Expend" : "Income";
        }
        <tr><td>小計</td><td colspan="3" class="NumRight @MyClass">@(ttl.ToString("N0"))</td></tr>

    </table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

